html,
body {
    height: 100%;
    /*background: #007bff;*/
    /*background: linear-gradient(to right, #0062E6, #33AEFF);*/
}

.white, .white a {
    color: #fff;
}

.page-content {
    flex: 1 0 auto;
}

.submitButtonGroupCD{
    margin-top: 20px;
}


